<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.data>
    <DbProviderFactories>

      <remove invariant="System.Data.VistaDB5" />
      <add invariant="System.Data.VistaDB5" name="VistaDB 5 Data Provider" description="VistaDB 5 ADO.NET Provider for .Net 4" type="VistaDB.Provider.VistaDBProviderFactory, VistaDB.5.NET40" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>

    <providers>
      <provider invariantName="System.Data.VistaDB5" type="VistaDB.Entity.VistaDBProviderServices, VistaDB.5.Entity.6.NET40" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HillStationEntities" connectionString="metadata=res://*/Model.Entities.HillStationModel.csdl|res://*/Model.Entities.HillStationModel.ssdl|res://*/Model.Entities.HillStationModel.msl;provider=System.Data.VistaDB5;provider connection string='Data Source=&quot;D:\Documents\Visual Studio 2015\Projects\HillStationPOS\HillStationPOS\bin\Debug\Data\HillStation.vdb5&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>